.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40.7px;
  height: 40.7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__close:focus {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 30.7px;
    height: 30.7px;
  }
}

@media screen and (max-width: 424px) {
  .popup__close {
    right: 0;
  }
}

@media screen and (max-height: 450px) {
  .popup__close {
    top: 0;
    right: -50px;
  }
}
