.popup-photos__close {
  position: absolute;
  top: -46px;
  right: -40px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: transparent;
  background-image: url(../../../images/Close_Icon.svg);
  background-size: 100%;
}

.popup-photos__close:hover {
  opacity: 0.6;
}

.popup-photos__close:focus {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup-photos__close {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 424px) {
  .popup-photos__close {
    right: -4px;
    top: -40px;
  }
}
